<?xml version="1.0" encoding="UTF-8"?>

<events>
    <title>Kommende arrangementer</title>
    <event name="tennis">
        <eventName url="nmtennis">Norgesmesterskap i Tennis</eventName>
        <imageUrl>img/tennis.jpg</imageUrl>
        <linkUrl>events/tennis.html</linkUrl>
        <from>
            <date>1. desember 2014</date>
            <time>10:00</time>
        </from>
        <to>
            <date>3. desember 2014</date>
            <time>16:00</time>
        </to>
        <location>Riksanlegget i Oslo</location>
        <ingress>Den første desember arrangeres norgesmesterskap i tennis! Bli med og vis hva du kan!</ingress>
        <description>Det stilles ingen krav til påmelding, alle fra nybegynnere til profesjonelle
                     kan melde seg på. Turneringen vil bli avholdt på Riksanlegget i Oslo, der
                     det finnes kjøkken, tennisbutikk, stor lounge og masse annet.</description>
    </event>
    <event name="squash">
        <eventName url="squash-shoot-out">Squash shoot-out</eventName>
        <imageUrl>img/squash.jpg</imageUrl>
        <linkUrl>events/squash.html</linkUrl>
        <from>
            <date>3. desember 2014</date>
            <time>14:00</time>
        </from>
        <to>
            <date>3. desember 2014</date>
            <time>19:00</time>
        </to>
        <location>Dragvoll Idrettshall</location>
        <ingress>Det arrangeres squash shoot-out i Dragvoll!</ingress>
        <description>Squash shoot-out er et spill der man leker og har det gøy. Alle kan melde seg på.
                     På Dragvoll er det svært gode squash fasiliteter. Ta med innesko med riktig såle.</description>
    </event>
    <event name="anatomi">
        <eventName url="anatomi">Eksamensforelesning i anatomi</eventName>
        <imageUrl>img/anatomi.jpg</imageUrl>
        <linkUrl>events/anatomi.html</linkUrl>
        <from>
            <date>5. desember 2014</date>
            <time>19:00</time>
        </from>
        <to>
            <date>5. desember 2014</date>
            <time>23:00</time>
        </to>
        <location>R1</location>
        <ingress>Arne Næss holder eksamensforelesning for oss i anatomi.</ingress>
        <description>Bli med på eksamensforelesning med selveste Arne Næss! Kapitlene som vil ble gjennomgått
                     er fysiologi, hjertet, hodet, hud, hode, skulder, kne og tå. Kne og tå. Dette er
                     en fantastisk mulighet til å både terpe pensum i faget, samt få en smakebit av
                     Arne Næss sin magi.</description>
    </event>
    <event name="ekskursjon">
        <eventName url="ekskursjon">Ekskursjon til OL i Pyongyang 2016</eventName>
        <imageUrl>img/ekskursjon.jpg</imageUrl>
        <linkUrl>events/ekskursjon.html</linkUrl>
        <from>
            <date>3. mars 2016</date>
            <time>15:00</time>
        </from>
        <to>
            <date>17. mars 2016</date>
            <time>14:00</time>
        </to>
        <location>Pyongyang, Nord-Korea</location>
        <ingress>OL i 2016 blir holdt i Nord-Korea, og dit skal vi!</ingress>
        <description>Bli med på Baldurs ekskursjon til selveste Nord-Korea! Det er et morsomt land med
                     mye som skjer. </description>
    </event>
</events>